# app
NEXT_PUBLIC_APP_URL = "https://aidancegenerator.io"
NEXT_PUBLIC_APP_NAME = "AI Dance Generator"
NEXT_PUBLIC_APP_DESCRIPTION = "Transform any photo into viral dance videos with AI. Create TikTok-ready dancing videos in seconds."

# theme
NEXT_PUBLIC_THEME = "default"

# appearance
NEXT_PUBLIC_APPEARANCE = "system"

# locale
NEXT_PUBLIC_DEFAULT_LOCALE = "en"

# database
DATABASE_PROVIDER = "postgresql"
DATABASE_URL = "postgresql://postgres.mofkdjgvdqzwmomgspbl:xFqBaZdyV2SmEJZu@aws-1-us-west-1.pooler.supabase.com:6543/postgres"
DB_SINGLETON_ENABLED = "true"
DB_MAX_CONNECTIONS = "1"

# auth secret
# openssl rand -base64 32
AUTH_SECRET = "KHivvxFNiQ4PZHz+djSWB5hHMq5mYZlpM1OBuHB+TCI="